<!DOCTYPE html>
<html lang="en">

<head>
	<title>Rowe.rs - Helping coaches & athletes perform.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rowe.rs is a service for coaches and athletes to make your training more effective through better communication, organisation and performance management">
    <meta name="author" content="Rowe.rs">
    <meta name="keywords" content="rowing,data,management,performance,training,organisation,communication,aviron,remo,worldrowing,app,software,website">
    

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Rowe.rs</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="mailto:hello@rowe.rs">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="brand-heading">Rowe.rs</h2>
                        <p class="intro-text">Helping coaches & athletes perform.</p>
                        <p>We are building a service for coaches and athletes to make your training more effective through better communication, organisation and performance management.<br></p> 
                        <br>
                        <ul class="list-inline banner-social-buttons">
                    		<li>
                        		<a href="https://www.surveymonkey.com/s/9DLJYD5" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Coach Survey</span></a>
                    		</li>
                    		<li>
                        		<a href="hhttps://www.surveymonkey.com/s/3FLRCJ9" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Athlete Survey</span></a>
                    		</li>
                		</ul>
                    </div>
                    <div class="intro-body">
            			<div class="container">
                			<div class="row">
                    			<div class="col-md-8 col-md-offset-2">
                    				<p><br>Want to hear from us when we launch just enter your email below</p>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                     <div class="row">
                        <form role="form" action="//rowe.us8.list-manage.com/subscribe/post?u=1aa658943b97e6014c73711a9&amp;id=18a4a706b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="col-md-7 col-sm-7"><input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control input-lg" placeholder="Email Address" required="">
                            </div><!--7-->
                            <div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div> 
                            <div class="col-md-5 col-sm-5 "><button class="btn btn-default btn-lg">Subscribe</button></div><!--5-->
                        </form>
                    </div>

                </div><!--/6-->
                </div>
            </div>
            <div><br>
                    	<a href="https://twitter.com/share" class="twitter-share-button" data-via="rowers_app" data-lang="en">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><!--row-->
					<div class="fb-like" data-href="http://www.rowe.rs" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></div>
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
  						var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=652686581464334&version=v2.0";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>

    </header>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>



</html>
